.form{
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 20px;    
}
.field-delay {
        display: flex;
        flex-direction: column;
        gap: 10px;
}

.link-home{
    padding: 24px;
}